

/* Headers */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
}


h2 {
    color:
    font-size: 2rem;
}

h3 {
    color:gray;
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

li:hover{
    color:blue;
}
#name {
    font-family:monospace;
    font-size:50px;
    text-emphasis:underline;
    color:gray;
    opacity:0.5;
}
